@import "tailwindcss";

:root {
  --color-hero-bg: #F5FAF6;
  --pure-white: #FFFFFF;
  --hero-text: #505E41;
  --normal-text: #3C3C3C;
  --background: #FFFFFF;
  --foreground: #3C3C3C;
}

@theme inline {
  --color-hero-bg: var(--color-hero-bg);
  --color-pure-white: var(--pure-white);
  --color-hero-text: var(--hero-text);
  --color-normal-text: var(--normal-text);
}

body {
  background-color: var(--pure-white);
  color: var(--foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px;
  /* Increased padding for a more "framed" look */
}

@media (max-width: 640px) {
  body {
    padding: 13px;
  }
}